#homebg {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

#chessboard {
  position: absolute;
  margin-top: 5%;
  margin-left: 70%;
  width: 25vw;
  height: 25vw;
  transform: perspective(600px) rotateY(-25deg);
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 2;
}

h1 {
  color: #8299fd;
  margin-top: 5%;
  margin-left: 5%;
}

h3 {
  margin-left: 5%;
}

.carousel {
  margin-top: 5%;
}

.mycard {
  width: 75%;
  max-width: 700px;
  height: 25%;
  padding: 1em;
  margin: 0 auto;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.5) 0%, rgba(139, 140, 143, 0.5) 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background-clip: padding-box;
}

@media only screen and (max-width: 800px) {
  #chessboard {
    display: none;
  }

  .title {
    text-align: center;
  }
}
