.learn-tabs {
    justify-content: space-evenly;
    padding: 1rem .5rem 0rem 1rem;
    border-bottom: 0;
    margin-bottom: 2rem;
}
.learn-tab.nav-link{
    border-radius: 0;
    padding: 1rem 4rem;
}
.learn-tab.nav-link.active{
    border:0;
    color: #007bff;
    font-weight:600;
    background-color: transparent;
    border-bottom: 1px solid #007bff;
}
.learn-tab:hover{
    color: #007bff;
}