label {
  display: block;
  margin-top: 10px;
}

.login-card {
  max-width: 350px !important;
  padding: 40px 40px;
  margin: 0 auto 25px;
  margin-top: 50px;
}

.profile-img-card {
  width: 10em;
  height: 10em;
  margin: 0 auto 10px;
  display: block;
}

.mybtn {
  background-color: #8299fd;
  color: #ffffff;
}

.mybtn:hover, .mybtn:focus {
  background-color: #8198fd99;
}

.lichessbtn {
  background-color: rgb(255, 255, 255); 
  display: inline-flex; 
  align-items: center; 
  color: rgba(0, 0, 0, 0.54); 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
  padding: 0px; border-radius: 2px; 
  border: 1px solid transparent; 
  font-size: 14px; 
  font-weight: 500; 
  font-family: Roboto, sans-serif;
}

.lichess-cont {
  padding: 10px;
}

.lichesstxt {
  padding: 17px;
}

.lichess-logo-image {
  background-color: #fff;
  width: 1.3em;
  height: 1.3em;
  margin: 2px;
}

.reset-container {
  text-align: center;
  margin: 1em;
}

.forgot-pswd {
  color: #647dfc;
}

.forgot-pswd:hover, .forgot-pswd:focus {
  color: #000;
}

