label {
  display: block;
  margin-top: 10px;
}

.login-card {
  max-width: 350px !important;
  padding: 40px 40px;
  margin: 0 auto 25px;
  margin-top: 50px;
}

.profile-img-card {
  width: 10em;
  height: 10em;
  margin: 0 auto 10px;
  display: block;
}

.mybtn {
  background-color: #8299fd;
  color: #ffffff;
}

.mybtn:hover, .mybtn:focus {
  background-color: #8198fd99;
}

.lichessbtn {
  background-color: #1b6ec2;
}

.lichessbtn:hover .lichessbtn:focus {
  background-color: #0069d9;
}

.lichess-logo-image {
  background-color: #fff;
  width: 1.3em;
  height: 1.3em;
  margin: 2px;
}
