.mynavbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #1d1e22;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

.dropdown-menu.show {
  background: #1d1e22;
}

.dropdown-item:hover {
  background: #fafbff12;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.navbar-brand {
  margin: 0;
}

.tooltip {
  color: #1d1e22;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

