.mynavbar {
  background-color: #1d1e22;
  box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

